@charset "UTF-8";
.err{color:red; }
.bg1 {display:none; background-color: #f8f8ff;height: 100%; opacity: 0.6;position: fixed;right: 0;width: 100%;z-index:1;
		filter:Alpha(opacity=50);/* 鍙敮鎸両E6銆�7銆�8銆�9 */*zoom:1; /* 婵€娲籌E6銆�7鐨刪aslayout灞炴€э紝璁╁畠璇绘噦Alpha */}

select::-ms-expand { display: none; }
select{border: solid 1px #fff; appearance:none;-moz-appearance:none; -webkit-appearance:none; -ms-appearance:none; padding: 5px 10px 5px 5px;
		background-color:#fff;background: url("/static/images/arrow.png") no-repeat scroll right center transparent;}
/*娓呴櫎ie鐨勯粯璁ら€夋嫨妗嗘牱寮忔竻闄わ紝闅愯棌涓嬫媺绠ご*/
a{color:#222; text-decoration:none;}
a:hover{text-decoration:none;color:#2a8cea;}
.clearfix:after {content: "."; display: block; height:0; clear:both; visibility: hidden;}
.clearfix { *zoom:1; margin-top: 10px;}

.pull-left{float: left;}
.pull-right{float: right;}

.head_url{border-bottom: solid 2px #1e90ff;padding: 0;}
.content_head{width:90%; padding: 5px;}
.content_head .tool li{background:url(../images/toolbg.gif) repeat-x; line-height:33px; height:33px; border:solid 1px #d3dbde; float:left; padding-right:18px; margin-right:5px;border-radius: 3px; behavior:url(js/pie.htc); cursor:pointer;}
.content_head ul li input[type="text"]{width:200px; padding:8px; border:1px solid #c9c9c9; outline:none; }
.content_head ul li input[type="button"]{padding:8px 35px; background-color:#2a8cea; border:#1f8c63; color:#fff; }
.content_head ul li select {width:135px;height:38px; outline:none;line-height: 19px;}


.table_box{margin-top:10px;}
.table_box img{width:28px; height:28px;}
.table_box table tr th, td{text-align:center; font-size:15px;}
.table_box table tr:HOVER{ background: #e8f0f7;}
.table_box table tr th{font-weight:bold;}



/* 缂栬緫绐楀彛 bg */

/* 鎻愮ず淇℃伅 bg */

/*tip*/
.tip{width:485px; min-height:200px; position:absolute;top:10%; left:26%;background:#f0f9fd;

-moz-box-shadow: 1px 8px 10px 1px #9b9b9b;
-webkit-box-shadow: 1px 8px 10px 1px #9b9b9b;
/* For IE 8 */
/* -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=8, Direction=115, Color='#9b9b9b')"; */
/* For IE 5.5 - 7 */
/* filter: progid:DXImageTransform.Microsoft.Shadow(Strength=8, Direction=115, Color='#9b9b9b'); */
box-shadow:1px 8px 10px 1px #9b9b9b;
border-radius:1px;
behavior:url(js/pie.htc); 
display:none; 
z-index:111111;}
.tiptop{height:40px; line-height:40px; background:url(../images/tcbg.gif)  repeat-x; cursor:pointer;}
.tiptop span{font-size:14px; font-weight:bold; color:#fff;float:left; text-indent:20px;}
.tiptop a{display:block; background:url(../images/close.png) no-repeat; width:22px; height:22px;float:right;margin-right:7px; margin-top:10px; cursor:pointer;}
.tiptop a:hover{background:url(../images/close1.png) no-repeat;}
.tipinfo{padding-top:30px;margin-left:65px; min-height:95px;}
.tipinfo span{float:left; width:75px; padding:6px 0; }
.tipinfo .add_info li{margin-top: 10px;}
.tipinfo div input[type="text"],input[type="file"], select{width:50%; background-color:#fff; padding:6px; border:1px solid #c9c9c9; outline:none;}
.tipinfo_ed{padding-top:30px;margin-left:65px; min-height:95px;}
.tipright{float:left;padding-top:30px; padding-left:40px;}
.tipright p{font-size:14px; font-weight:bold; line-height:35px;}
.tipright cite{color:#858686;}
.tipbtns{margin-top:25px; margin-left:50px;margin-bottom: 40px;}
.tipbtn{margin-top:50px; margin-left:125px;margin-bottom: 40px;}
.sure ,.cancel{border:1px solid #ffffff; width:96px; height:35px; line-height:35px; color:#fff; background:url(../images/btnbg1.png) repeat-x; font-size:14px; font-weight:bold;border-radius: 3px; cursor:pointer;}
.cancel{background:url(../images/btnbg2.png) repeat-x;color:#000;font-weight:normal;}
