@charset "UTF-8";

input:-webkit-autofill , textarea:-webkit-autofill, select:-webkit-autofill {  
    -webkit-text-fill-color: #333 !important;  
    -webkit-box-shadow: 0 0 0px 1000px transparent  inset !important;  
    background-color:transparent;  
    background-image: none;  
   transition: background-color 50000s ease-in-out 0s; //鑳屾櫙鑹查€忔槑  鐢熸晥鏃堕暱  杩囨浮鏁堟灉  鍚敤鏃跺欢杩熺殑鏃堕棿  
}  
.login-box{width:675px; max-height:390px; position:fixed; top:20%; left:50%; margin-left:-333px; background-color:rgba(255,255,255,.9); font-family:"microsoft yahei";}
.login-box h3{background-color:#60ac62;line-height:39px; color:#fff; font-size:22px; padding:13px 25px; letter-spacing:3px;}
.login-box .login-info{width:62%; margin:55px auto 35px;}
.login-box .login-info .info{width:100%; line-height:45px; margin-top:20px;}
.login-box .login-info .info span{font-size:18px; float:left;}
.login-box .login-info .info img{height:25px; float:left; margin:9px;}
.login-box .login-info .info{border-bottom:1px solid #c9c9c9;}
.login-box .login-info .info div{margin-left:42px;}
.login-box .login-info .info div input{width:100%;font-size:18px; line-height:45px; padding: 0 10px; background-color:transparent; border:none; outline:none; box-sizing:border-box; -webkit-box-sizing:border-box; -ms-box-sizing:border-box; -moz-box-sizing:border-box;}
.login-info p{padding:15px 0;}
.login-btn{margin-top:20px;}
.login-btn input{display:block; width:70%; margin:0 auto; font-size:18px; padding: 6px 0; background-color:#60ac62; color:#fff; font-family:"microsoft yahei";  border-radius:30px; border:none; outline:none; cursor:pointer;}
.login-box .tip{color:red;}
.animation-css{animation:shake 0.1s linear 0s 3; -webkit-animation:shake 0.1s linear 0s 4; -ms-animation:shake 0.1s linear 0s 4; -moz-animation:shake 0.1s linear 0s 4;}
@-webkit-keyframes shake{
			0%{transform:translateX(6px) rotate(1deg);-weikit-transform:translateX(6px) rotate(1deg); -ms-transform:translateX(6px) rotate(1deg); -moz-transform:translateX(6px) rotate(1deg);}
			50%{transform:translateX(-6px) rotate(-1deg); -webkit-transform:translateX(-6px) rotate(-1deg); -ms-transform:translateX(-6px) rotate(-1deg); -moztransform:translateX(-6px) rotate(-1deg);}
			100%{transform:translateX(0px) rotate(0deg); -webkit-transform:translateX(0px) rotate(0deg); -ms-transform:translateX(0px) rotate(0deg); -moz-transform:translateX(0px) rotate(0deg);}
			}
@-moz-keyframes shake{
			0%{transform:translateX(6px) rotate(1deg);-weikit-transform:translateX(6px) rotate(1deg); -ms-transform:translateX(6px) rotate(1deg); -moz-transform:translateX(6px) rotate(1deg);}
			50%{transform:translateX(-6px) rotate(-1deg); -webkit-transform:translateX(-6px) rotate(-1deg); -ms-transform:translateX(-6px) rotate(-1deg); -moztransform:translateX(-6px) rotate(-1deg);}
			100%{transform:translateX(0px) rotate(0deg); -webkit-transform:translateX(0px) rotate(0deg); -ms-transform:translateX(0px) rotate(0deg); -moz-transform:translateX(0px) rotate(0deg);}
			}
@-ms-keyframes shake{
			0%{transform:translateX(6px) rotate(1deg);-weikit-transform:translateX(6px) rotate(1deg); -ms-transform:translateX(6px) rotate(1deg); -moz-transform:translateX(6px) rotate(1deg);}
			50%{transform:translateX(-6px) rotate(-1deg); -webkit-transform:translateX(-6px) rotate(-1deg); -ms-transform:translateX(-6px) rotate(-1deg); -moztransform:translateX(-6px) rotate(-1deg);}
			100%{transform:translateX(0px) rotate(0deg); -webkit-transform:translateX(0px) rotate(0deg); -ms-transform:translateX(0px) rotate(0deg); -moz-transform:translateX(0px) rotate(0deg);}
			}
@keyframes shake{
			0%{transform:translateX(6px) rotate(1deg);-weikit-transform:translateX(6px) rotate(1deg); -ms-transform:translateX(6px) rotate(1deg); -moz-transform:translateX(6px) rotate(1deg);}
			50%{transform:translateX(-6px) rotate(-1deg); -webkit-transform:translateX(-6px) rotate(-1deg); -ms-transform:translateX(-6px) rotate(-1deg); -moztransform:translateX(-6px) rotate(-1deg);}
			100%{transform:translateX(0px) rotate(0deg); -webkit-transform:translateX(0px) rotate(0deg); -ms-transform:translateX(0px) rotate(0deg); -moz-transform:translateX(0px) rotate(0deg);}
			}

.start-class{width:40%; margin-top:50px; margin-bottom:80px;}
.start-class-btn input{display:block; width:56%; margin:0 auto;}


.current-play input{border-radius: 15px; width:100px;}
.current-play p{width:150px; line-height:31px;  white-space:nowrap; overflow:hidden;margin-left:10px; margin-right:10px; text-align:center; font-size:22px; font-family:"microsoft yahei" }
.current-class-plan li{display:inline-block; *display:inline; *zoom:1; line-height:33px;}
#slug_media_question{width:350px; float:left;}
#slug_media_question .media_question{margin-bottom:15px; border:2px solid #c9c9c9; padding-top:10px; box-sizing:border-box; -webkit-box-sizing:border-box; -ms-box-sizing:border-box; -moz-box-sizing:border-box;}
#slug_media_question .media_question > div{padding:0 10px;}
#slug_media_question .media_question .media-name{margin-bottom:15px;}
#slug_media_question .media_question .media-name span:first-child{display:block; width:150px;line-height:33px; font-size:18px; font-weight:bold; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
#slug_media_question .media_question .question-name{margin-top:10px; font-size:16px; font-family:"microsoft yahei"; color:#60ac62;}
#slug_media_question .media_question .question-name .line{height:2px; margin-top:10px; background-color:#60ac62; }
#slug_media_question .send-intervene{color:#559856; text-decoration:underline;}
#slug_media_question .media_question > div{margin:6px 0;}
#slug_media_question .media_question .question-detail{margin:6px 0;}
#slug_media_question .media_question .question-detail .text-indent{text-indent:22px;}
#slug_media_question .media_question .show-question{margin-bottom:0; background-color:#f3f3f3;}
#slug_media_question .media_question .show-question a{display:block; color:#fff; text-align:center;}

.socre-right-box{margin-left:375px;}
.right-question-name-list{height:38px; margin-bottom:20px; border-bottom:1px solid #60ac62; font-weight:bold; font-size:16px;}
.right-question-name-list li{float:left; border:1px solid transparent; margin-bottom:-1px; padding:8px 25px 6px; cursor:pointer;}
.right-student-answer h4{font-size:20px; margin-bottom:18px; font-family:"microsoft yahei"}
/* .right-student-answer table tr td{table-layout:fixed;} */
.right-student-answer table tr td div{float:left; text-align:left; text-indent:20px;}
.right-student-answer .right-listen-num-list{margin-bottom:8px; padding-left:1px;}
.right-student-answer .right-listen-num-list li{float:left; border:1px solid #60ac62; color:#60ac62; padding:5px 25px; cursor:pointer; margin-top:6px;}
.right-student-answer .right-listen-num-list li + li{margin-left:-1px;}
.mark-table tr td input{width:40px; margin-left:6px; padding:2px; line-height:0;}




.selected-li-one{border-color:#60ac62!important; border-bottom-color:#fff!important; color:#60ac62;}
.selected-li-two{border-bottom-color:#60ac62!important;  color:#60ac62;}
.selected-li-three{color:#fff!important; background-color:#60ac62; }

.question_all_child_show .question_child{padding:0 6px; margin-bottom:8px;}
.question_all_child_show .question_child p{width:100%; text-align:left; float:none; margin-left:20px;}
.question_all_child_show .question_child p:first-child{margin-left:0;}
.question_all_child_show .question_child ul{margin-left:55px;}


.content-detail .list-question-edit-con{position:relative; width:100%;}
.content-detail .list-question-edit-con > div{margin-bottom:15px;}
.content-detail .list-question-edit-con .list-question-edit-info > div{float:left; width:31%; margin-left:0;}
.content-detail .list-question-edit-con .list-question-edit-info > div:nth-child(2){margin-left:20px; margin-right:20px;}
.content-detail .list-question-edit-con .list-question-edit-info > div p{float:left;  width:80px; line-height:31px; text-align:right;}
.content-detail .list-question-edit-con .list-question-edit-info > div div{margin-left:95px;}

.content-detail .list-question-show-box{width:94.5%; min-width:795px;}
.content-detail .list-question-show-box h4{width:120px; letter-spacing:2px; font-weight:bold; color:#fff; text-align:center; padding: 8px 0; background-color: #989898;}
.content-detail .list-question-show-con{border:1px solid #c9c9c9; padding:10px 15px;}
.content-detail .list-question-show-box .list-question-show-prompt{width:100%; text-align:center; color:#989898; padding-top:5%; padding-bottom:10%;}
.content-detail .list-question-show-box .list-question-detail > div{margin-bottom:6px;margin-top:6px; font-family:"microsoft yahei";}
.content-detail .list-question-show-box .list-question-detail .list-question-num{font-size:16px; color:#60ac62;}
.content-detail .list-question-show-box .list-question-detail .list-question-show-btn input{width:48px; line-height:22px;}
.content-detail .list-question-show-box .list-question-detail .list-question-con{width:95%; margin:0 auto; padding: 0 15px 20px; border-bottom:1px solid #c9c9c9;}
.content-detail .list-question-show-box .list-question-detail .list-question-con div{margin-top:6px;}
.content-detail .list-question-show-box .list-question-detail .list-question-con div span:first-child{font-weight:bold;}
.content-detail .list-question-show-box .list-question-detail .list-question-con .option{margin-left:70px;}
.content-detail .list-question-show-box .list-question-detail .list-question-con .option span:first-child{font-weight:normal;}


.slug_right .media-all{min-width:820px;}

.start-question .menu-ul-one, .menu-ul-two{border-bottom:1px solid #60ac62; margin-bottom:10px; letter-spacing:2px;}
.start-question .menu-ul-one li, .menu-ul-two li{float:left; padding: 8px 50px 2px; margin-bottom:-1px;}
.start-question .menu-ul-one li{border:1px solid transparent;}
.start-question .menu-ul-one li label, .menu-ul-two li label{cursor:pointer;}
.start-question .menu-ul-two li{border-bottom:2px solid transparent; }

.list-question-styleOne > div, .list-question-styleTwo > div {margin-left:20px!important;}
.list-question-styleOne .yuyin-st .audio-up{margin-bottom:6px;}
.list-question-styleOne .yuyin-st .audio-up > span{float:left; line-height:31px;}
.list-question-styleOne .yuyin-st .audio-up > div{margin-left:10px; margin-bottom:6px;}
.list-question-styleTwo .zhuguan-st >ul li{margin: 3px 0;}
.list-question-styleTwo .zhuguan-st >ul li textarea{margin:0;}
.list-question-styleTwo .keguan-st > div{margin-bottom: 6px;}
.list-question-styleTwo .keguan-st .true-answer span{float:left; line-height:31px;}
.list-question-styleTwo .keguan-st .true-answer div{margin-left:75px;}
.list-question-styleTwo .keguan-st .question-option-list li, .question-option-remarkList li{margin-bottom:6px;}
.list-question-styleTwo .keguan-st .question-option-list li span, .question-option-remarkList li span{float:left; display:inline-block; *display:inline; *zoom:1; width:28px; line-height:25px; text-align:center; background-color:#545454; color:#fff;}
.list-question-styleTwo .keguan-st .question-option-list li textarea, .question-option-remarkList li textarea{width:87%; height:auto;}

.record-window .record-btn-list{width:68.5%; margin: 40px auto 6px; text-align:center;}
.record-window .record-btn-list li{float:left; color:#fff; padding: 10px 15px; background-color:#60ac62; cursor:pointer;}
.record-window .record-btn-list li + li{border-left:1px solid #559856;}
.record-window .record-btn-list li:hover{background-color:#559856;}


.content-detail-box{width:96%;}
.student-manage-list li{display:inline-block; *display:inline; *zoom:1; position:relative; width:217px; height:130px; border:2px solid transparent; background-color:#e9e9e9; font-family:"microsoft yahei"; margin-bottom:15px; margin-right:12px; padding:5px 15px 10px;color:#515151; cursor:pointer;}
.student-manage-list li h4{font-size:21px; font-weight:bold; margin-bottom:6px;}
.student-manage-list li p:last-child{position:absolute; left:15px; bottom:10px; width:86%;}
.student-manage-list li .close-btn{color:#989898; font-size:18px;}
.student-manage-list li .close-btn:hover{color:#515151; text-decoration:none;}
.student-manage-minbox{min-width:645px;}


.teacher-plan-ul{width:190px; float:left; border:1px solid #c9c9c9; margin-right:8px; margin-bottom:8px; padding:6px;}
.teacher-plan-ul li input{width:48px; line-height:22px;}

